<?xml version="1.0"?>


<!-- inspired by https://articulatedrobotics.xyz/mobile-robot-8-lidar/ -->


<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="lidar">

    <material name="black">
        <color rgba="0.2 0.2 0.2 1.0"/>
    </material>

    <link name="laser_frame">
        <visual>
            <geometry>
                <mesh filename="package://ros_lidar/3D_parts/stl/simple_lidar_shape.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <origin xyz="0 -0.00915 -0.042" rpy="3.14159 0 0"/>
            <material name="black"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://ros_lidar/3D_parts/stl/simple_lidar_shape.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <origin xyz="0 -0.00915 -0.042" rpy="3.14159 0 0"/>
        </collision>
        <inertial>
            <mass value="0.075"/>
            <inertia ixx="0.0000137" ixy="0.0" ixz="0.0" iyy="0.0000137" iyz="0.0" izz="0.00002419"/> <!-- cylinder r=2.54cm h=3cm -->
        </inertial>
        <origin xyz="0 -0.00915 -0.042" rpy="3.14159 0 0"/>
    </link>
 
 
 
    <gazebo reference="laser_frame">
        <material>Gazebo/DarkGrey</material>
 
        <sensor name="laser" type="ray">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>3</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.10</min>
                    <max>12.0</max>
                    <resolution>0.01</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.01</stddev>
                </noise>
            </ray>
            <plugin name="laser" filename="libgazebo_ros_laser.so">
                <topicName>/lidar_laserscan</topicName>
                <frameName>laser_frame</frameName>
            </plugin>
        </sensor>
    </gazebo>
 
</robot>