<launch>

    <!-- Launch file intended for tests -->

    <param name="robot_description" command="xacro '$(find ros_lidar)/urdf/lidar.xacro'" />
    <node name="gazebo" type="gazebo" pkg="gazebo_ros" output="screen"/>
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-z 1.0 -b -urdf -model lidar -param robot_description"  respawn="false" output="screen"/>

</launch>